.new-proj-butt{
    width: 100%;
}

.new-proj-butt-handset{
    width: 80%;
}

.projects-container{
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}