<!-- IF LOGGED IN -->
<mat-toolbar *ngIf="afAuth.authState | async as user">


  <span class="logo" routerLink="/">
    <img class="logo-img" src="./assets/logo.png" alt="">
  </span>

  <span class="fill-space"></span>

  <div *ngIf="!(isHandset$ | async)">
    <a mat-button routerLink="/">Main Page</a>
  </div>

  <span class="fill-space"></span>

  <button type="button" aria-label="Toggle sidenav" mat-icon-button *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <div class="right-side">
    <div class="user-info-container">
      <div class="user-name" *ngIf="!(isHandset$ | async)">
        {{user.displayName}}
      </div>
      <div class="user-photo-container" [routerLink]="['/profile-settings']">
        <img [src]="user.photoURL" class="user-photo">
      </div>
    </div>
  </div>

</mat-toolbar>



<!-- IF NOT LGGED IN -->
<mat-toolbar *ngIf="!(afAuth.authState | async)">
  <span class="logo" routerLink="/">
    <img class="logo-img" src="./assets/logo.png" alt="">
  </span>
</mat-toolbar>