<div class="user-info-container" *ngIf="!(isHandset$ | async)">
    <div>
        <button mat-stroked-button *ngIf="editable==true" class="edit-button" [routerLink]="'/profile-settings/your-info'">
            <mat-icon svgIcon="pen-to-square-regular"></mat-icon>Edit profile informations
        </button>
    </div>

    <img class="user-img" [src]="photoURL" [alt]="displayName">

    <div class="text">
        <h2>{{displayName}}</h2>

        <p>
            {{description}}
        </p>
    </div>
</div>

<div class="user-info-container-handset" *ngIf="(isHandset$ | async)">

    <div>
        <button mat-stroked-button *ngIf="editable==true" class="edit-button-handset" [routerLink]="'/profile-settings/your-info'">
            <mat-icon svgIcon="pen-to-square-regular"></mat-icon>Edit profile informations
        </button>
    </div>

    <img class="user-img-handset" [src]="photoURL" [alt]="displayName">

    <div class="text-handset">
        <h2>{{displayName}}</h2>
        <p class="description-handset">
            {{description}}
        </p>
    </div>
</div>

<div style="clear: both;"></div>