

<h4>Set your unique account name that will be visible in the url</h4>

<h5>Current name: {{currentAlias}}</h5>
<div class="form-container">
  <form [formGroup]="setAliasForm" (ngSubmit)="submitUniqeName()">
    <mat-form-field class="alias-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="alias" type="text" placeholder="" autocomplete="off" />
  
      <mat-error *ngIf="setAliasForm.get('alias').hasError('required')">
        Name is required.
      </mat-error>
      <mat-error *ngIf="setAliasForm.get('alias').hasError('minlength') || setAliasForm.get('alias').hasError('maxlength')">
        Up to 36 characters
      </mat-error>
      <mat-error *ngIf="setAliasForm.get('alias').hasError('nonUniqueAlias')">
        Already taken   
      </mat-error>
  
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="setAliasForm.invalid">
      Set
    </button>
  </form>
</div>
